<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.htsat.order.dao.REcBrandMapper" >
  <resultMap id="BaseResultMap" type="com.htsat.order.model.REcBrand" >
    <id column="nBrandID" property="nbrandid" jdbcType="INTEGER" />
    <result column="sBrandName" property="sbrandname" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    nBrandID, sBrandName
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.htsat.order.model.REcBrandExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from r_ec_brand
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from r_ec_brand
    where nBrandID = #{nbrandid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from r_ec_brand
    where nBrandID = #{nbrandid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.htsat.order.model.REcBrandExample" >
    delete from r_ec_brand
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.htsat.order.model.REcBrand" >
    insert into r_ec_brand (nBrandID, sBrandName)
    values (#{nbrandid,jdbcType=INTEGER}, #{sbrandname,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.htsat.order.model.REcBrand" >
    insert into r_ec_brand
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="nbrandid != null" >
        nBrandID,
      </if>
      <if test="sbrandname != null" >
        sBrandName,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="nbrandid != null" >
        #{nbrandid,jdbcType=INTEGER},
      </if>
      <if test="sbrandname != null" >
        #{sbrandname,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.htsat.order.model.REcBrandExample" resultType="java.lang.Integer" >
    select count(*) from r_ec_brand
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update r_ec_brand
    <set >
      <if test="record.nbrandid != null" >
        nBrandID = #{record.nbrandid,jdbcType=INTEGER},
      </if>
      <if test="record.sbrandname != null" >
        sBrandName = #{record.sbrandname,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update r_ec_brand
    set nBrandID = #{record.nbrandid,jdbcType=INTEGER},
      sBrandName = #{record.sbrandname,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.htsat.order.model.REcBrand" >
    update r_ec_brand
    <set >
      <if test="sbrandname != null" >
        sBrandName = #{sbrandname,jdbcType=VARCHAR},
      </if>
    </set>
    where nBrandID = #{nbrandid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.htsat.order.model.REcBrand" >
    update r_ec_brand
    set sBrandName = #{sbrandname,jdbcType=VARCHAR}
    where nBrandID = #{nbrandid,jdbcType=INTEGER}
  </update>
</mapper>